resources:
- name: pcfNetwork
  type: base/networks.jinja
  properties:
    region: {{ properties['region'] }}

- name: jumpbox
  type: base/jumpbox.jinja
  properties:
    zone: {{ properties['zone1'] }}
    networkSelfLink: $(ref.pcfNetwork.networkSelfLink)
    subnetworkSelfLink: $(ref.pcfNetwork.mgmtSubnetworkSelfLink)

- name: natA
  type: nat/deployment.jinja
  properties:
    region: {{ properties['region'] }}
    zone: {{ properties['zone1'] }}
    networkSelfLink: $(ref.pcfNetwork.networkSelfLink)
    subnetworkSelfLink: $(ref.pcfNetwork.mgmtSubnetworkSelfLink)

- name: ops_manager
  type: ops_manager/ops_manager.jinja
  properties:
    region: {{ properties['region'] }}
    zone: {{ properties['zone1'] }}
    networkSelfLink: $(ref.pcfNetwork.networkSelfLink)
    subnetworkSelfLink: $(ref.pcfNetwork.mgmtSubnetworkSelfLink)
    projectOwner: {{ properties['projectOwner'] }}

- name: ertHttpRouting
  type: ert/http_routing.jinja
  properties:
    region: {{ properties['region'] }}
    zone1: {{ properties['zone1'] }}
    zone2: {{ properties['zone2'] }}
    zone3: {{ properties['zone3'] }}
    networkSelfLink: $(ref.pcfNetwork.networkSelfLink)
    sslPrivateKeyPath: ssl/server.key
    sslCertificatePath: ssl/server.crt

- name: ertSshRouting
  type: ert/ssh_routing.jinja
  properties:
    region: {{ properties['region'] }}
    networkSelfLink: $(ref.pcfNetwork.networkSelfLink)

- name: ertTcpRouting
  type: ert/tcp_routing.jinja
  properties:
    region: {{ properties['region'] }}
    networkSelfLink: $(ref.pcfNetwork.networkSelfLink)
    portRange: 1024-65535

- name: ertStorage
  type: ert/storage.jinja

#
# Exported variables
#


- name: omgConfig
  type: runtimeconfig.v1beta1.config
  properties:
    config: omgConfig
    description: Config for resources in OMG Deployment

- name: opsManagerIp
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: opsManagerIp
    text: $(ref.ops_manager.opsManagerIp)
  metadata:
    dependsOn:
    - omgConfig

- name: jumpboxName
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: jumpboxName
    text: $(ref.jumpbox.vmName)
  metadata:
    dependsOn:
    - omgConfig

- name: networkName
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: networkName
    text: $(ref.pcfNetwork.networkName)
  metadata:
    dependsOn:
    - omgConfig

- name: mgmtSubnetName
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: mgmtSubnetName
    text: $(ref.pcfNetwork.mgmtSubnetName)
  metadata:
    dependsOn:
    - omgConfig

- name: mgmtSubnetGateway
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: mgmtSubnetGateway
    text: $(ref.pcfNetwork.mgmtSubnetGateway)
  metadata:
    dependsOn:
    - omgConfig

- name: mgmtSubnetCIDR
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: mgmtSubnetCIDR
    text: $(ref.pcfNetwork.mgmtSubnetCIDR)
  metadata:
    dependsOn:
    - omgConfig

- name: servicesSubnetName
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: servicesSubnetName
    text: $(ref.pcfNetwork.servicesSubnetName)
  metadata:
    dependsOn:
    - omgConfig

- name: servicesSubnetGateway
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: servicesSubnetGateway
    text: $(ref.pcfNetwork.servicesSubnetGateway)
  metadata:
    dependsOn:
    - omgConfig

- name: servicesSubnetCIDR
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: servicesSubnetCIDR
    text: $(ref.pcfNetwork.servicesSubnetCIDR)
  metadata:
    dependsOn:
    - omgConfig

- name: ertSubnetName
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: ertSubnetName
    text: $(ref.pcfNetwork.ertSubnetName)
  metadata:
    dependsOn:
    - omgConfig

- name: ertSubnetGateway
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: ertSubnetGateway
    text: $(ref.pcfNetwork.ertSubnetGateway)
  metadata:
    dependsOn:
    - omgConfig

- name: ertSubnetCIDR
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: ertSubnetCIDR
    text: $(ref.pcfNetwork.ertSubnetCIDR)
  metadata:
    dependsOn:
    - omgConfig

- name: httpLoadBalancerIP
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: httpLoadBalancerIP
    text: $(ref.ertHttpRouting.httpLoadBalancerIP)
  metadata:
    dependsOn:
    - omgConfig

- name: httpBackendServiceName
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: httpBackendServiceName
    text: $(ref.ertHttpRouting.httpBackendServiceName)
  metadata:
    dependsOn:
    - omgConfig

- name: sshTargetPoolName
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: sshTargetPoolName
    text: $(ref.ertSshRouting.targetPoolName)
  metadata:
    dependsOn:
    - omgConfig

- name: sshLoadBalancerIP
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: sshLoadBalancerIP
    text: $(ref.ertSshRouting.loadBalancerIP)
  metadata:
    dependsOn:
    - omgConfig

- name: sshTargetTag
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: sshTargetTag
    text: $(ref.ertSshRouting.targetTag)
  metadata:
    dependsOn:
    - omgConfig

- name: tcpTargetPoolName
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: tcpTargetPoolName
    text: $(ref.ertTcpRouting.targetPoolName)
  metadata:
    dependsOn:
    - omgConfig

- name: tcpLoadBalancerIP
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: tcpLoadBalancerIP
    text: $(ref.ertTcpRouting.loadBalancerIP)
  metadata:
    dependsOn:
    - omgConfig

- name: tcpTargetTag
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: tcpTargetTag
    text: $(ref.ertTcpRouting.targetTag)
  metadata:
    dependsOn:
    - omgConfig

- name: tcpPortRange
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: tcpPortRange
    text: $(ref.ertTcpRouting.portRange)
  metadata:
    dependsOn:
    - omgConfig

- name: buildpacksBucket
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: buildpacksBucket
    text: $(ref.ertStorage.buildpacksBucket)
  metadata:
    dependsOn:
    - omgConfig

- name: dropletsBucket
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: dropletsBucket
    text: $(ref.ertStorage.dropletsBucket)
  metadata:
    dependsOn:
    - omgConfig

- name: packagesBucket
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: packagesBucket
    text: $(ref.ertStorage.packagesBucket)
  metadata:
    dependsOn:
    - omgConfig

- name: resourcesBucket
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: resourcesBucket
    text: $(ref.ertStorage.resourcesBucket)
  metadata:
    dependsOn:
    - omgConfig

- name: directorBucket
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: directorBucket
    text: $(ref.ops_manager.directorBucket)
  metadata:
    dependsOn:
    - omgConfig

- name: rootDomain
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: rootDomain
    text: {{ properties['rootDomain'] }}
  metadata:
    dependsOn:
    - omgConfig

- name: sslPrivateKey
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: sslPrivateKey
    value: $(ref.ertHttpRouting.sslPrivateKey)
  metadata:
    dependsOn:
    - omgConfig

- name: sslCertificate
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: sslCertificate
    value: $(ref.ertHttpRouting.sslCertificate)
  metadata:
    dependsOn:
    - omgConfig

- name: opsManServiceAccount
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: opsManServiceAccount
    text: $(ref.ops_manager.serviceAccountEmail)
  metadata:
    dependsOn:
    - omgConfig

- name: projectOwnerEmail
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: projectOwnerEmail
    text: {{ properties['projectOwner'] }}
  metadata:
    dependsOn:
    - omgConfig

- name: region
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: region
    text: {{ properties['region'] }}
  metadata:
    dependsOn:
    - omgConfig

- name: zone1
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: zone1
    text: {{ properties['zone1'] }}
  metadata:
    dependsOn:
    - omgConfig

- name: zone2
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: zone2
    text: {{ properties['zone2'] }}
  metadata:
    dependsOn:
    - omgConfig

- name: zone3
  type: runtimeconfig.v1beta1.variable
  properties:
    parent: $(ref.omgConfig.name)
    variable: zone3
    text: {{ properties['zone3'] }}
  metadata:
    dependsOn:
    - omgConfig