resources:
- name: pcfNetwork
  type: base/networks.jinja
  properties:
    region: us-central1
- name: jumpbox
  type: base/jumpbox.jinja
  properties:
    zone: us-central1-b
    networkSelfLink: $(ref.pcfNetwork.networkSelfLink)
    subnetworkSelfLink: $(ref.pcfNetwork.mgmtSubnetworkSelfLink)
- name: natA
  type: nat/deployment.jinja
  properties:
    region: us-central1
    zone: us-central1-b
    networkSelfLink: $(ref.pcfNetwork.networkSelfLink)
    subnetworkSelfLink: $(ref.pcfNetwork.mgmtSubnetworkSelfLink)
- name: ops_manager
  type: ops_manager/ops_manager.jinja
  properties:
    region: us-central1
    zone: us-central1-b
    networkSelfLink: $(ref.pcfNetwork.networkSelfLink)
    subnetworkSelfLink: $(ref.pcfNetwork.mgmtSubnetworkSelfLink)
    projectOwner: {{ properties['projectOwner'] }}
