#
# Deploys a group of NAT instances and a route for all external
# traffic from 'targetTag' instances.
#
resources:
- name: a
  type: instance.jinja
  properties: &nat_properties
    zone: {{ properties['zone'] }} 
    targetTag: {{ properties['targetTag'] }}
    networkSelfLink: {{ properties['networkSelfLink'] }}
    subnetworkSelfLink: {{ properties['subnetworkSelfLink'] }}
- name: b
  type: instance.jinja
  properties: *nat_properties
- name: c
  type: instance.jinja
  properties: *nat_properties
