{% set instanceName = 'nat-' + properties['zone'] + 'pcf-' + env['deployment'] + '-' + env['name'] %}
resources:
- name: {{ instanceName }}
  type: compute.v1.instance
  properties:
    description: NAT Service for {{ properties['zone'] }}
    machineType: projects/{{ env['project'] }}/zones/{{ properties['zone'] }}/machineTypes/n1-standard-1
    zone: {{ properties['zone'] }}
    tags:
      items:
      - nat
      - internal
    canIpForward: true
    networkInterfaces:
    - subnetwork: {{ properties['subnetworkSelfLink'] }}
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
    disks:
      - type: PERSISTENT
        boot: true
        mode: READ_WRITE
        autoDelete: true
        deviceName: nat-machine
        initializeParams:
          sourceImage: projects/debian-cloud/global/images/debian-8-jessie-v20170619
          diskType: projects/{{ env['project'] }}/zones/{{ properties['zone'] }}/diskTypes/pd-standard
          diskSizeGb: 10
    metadata:
      items:
        - key: "startup_script"
          value: |
            #!/bin/bash
            sh -c "echo 1 > /proc/sys/net/ipv4/ip_forward"
            iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE

- name: {{ instanceName }}-route
  type: compute.v1.route
  properties:
    network: {{ properties['networkSelfLink'] }}
    destRange: 0.0.0.0/0
    nextHopIp: $(ref.{{ instanceName }}.networkInterfaces[0].networkIP)
    priority: 800
    tags:
    - {{ properties['targetTag'] }}
