{% set baseName = 'bosh-bastion-' + env['deployment'] %}

resources:
- name: {{ baseName }}
  type: compute.v1.instance
  properties:
    machineType: projects/{{ env['project'] }}/zones/{{ properties['zone'] }}/machineTypes/n1-standard-2
    zone: {{ properties['zone'] }}
    tags:
      items:
      - bosh-bastion
      - internal
    canIpForward: true
    networkInterfaces:
    - subnetwork: {{ properties['subnetworkSelfLink'] }}
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
    disks:
      - type: PERSISTENT
        boot: true
        mode: READ_WRITE
        autoDelete: true
        deviceName: bosh-bastion
        initializeParams:
          sourceImage: projects/ubuntu-os-cloud/global/images/ubuntu-1404-trusty-v20170505
          diskType: projects/{{ env['project'] }}/zones/{{ properties['zone'] }}/diskTypes/pd-standard
          diskSizeGb: 100

- name: {{ baseName }}-allow-healthcheck
  type: compute.v1.firewall
  properties:
    network: {{ properties['networkSelfLink'] }}
    sourceRanges:
    - 0.0.0.0/0
    targetTags:
      - bosh-bastion
    allowed:
      - IPProtocol: tcp
        ports:
          - 22
      - IPProtocol: icmp

outputs:
- name: vmName
  value: $(ref.{{ baseName }}.name)
