{% set networkName = 'pcf-' + env['deployment'] %}

resources:
- name: {{ networkName }}
  type: compute.v1.network
  properties:
    autoCreateSubnetworks: false
    description: 'Network for Ops Manager and PCF'

- name: {{ networkName }}-mgmt
  type: compute.v1.subnetwork
  properties:
    region: {{ properties['region'] }}
    network: $(ref.{{ networkName }}.selfLink)
    ipCidrRange: {{ properties['mgmtCidrRange'] }}
    privateIpGoogleAccess: true

- name: {{ networkName }}-ert
  type: compute.v1.subnetwork
  properties:
    region: {{ properties['region'] }}
    network: $(ref.{{ networkName }}.selfLink)
    ipCidrRange: {{ properties['ertCidrRange'] }}
    privateIpGoogleAccess: true

- name: {{ networkName }}-services
  type: compute.v1.subnetwork
  properties:
    region: {{ properties['region'] }}
    network: $(ref.{{ networkName }}.selfLink)
    ipCidrRange: {{ properties['servicesCidrRange'] }}
    privateIpGoogleAccess: true

- name: {{ networkName }}-intra-network-open
  type: compute.v1.firewall
  properties:
    network: $(ref.{{ networkName }}.selfLink)
    sourceRanges:
    - {{ properties['mgmtCidrRange'] }}
    - {{ properties['ertCidrRange'] }}
    - {{ properties['servicesCidrRange'] }}
    allowed:
      - IPProtocol: icmp
      - IPProtocol: tcp
        ports:
          - 1-65535
      - IPProtocol: udp
        ports:
          - 1-65535

outputs:
- name: networkSelfLink
  value: $(ref.{{ networkName }}.selfLink)
- name: mgmtSubnetworkSelfLink
  value: $(ref.{{ networkName }}-mgmt.selfLink)