resources:
- name: routing
  type: routing.jinja
  properties:
    zone1: {{ properties['zone1'] }} 
    zone2: {{ properties['zone2'] }} 
    zone3: {{ properties['zone3'] }} 
    networkSelfLink: {{ properties['networkSelfLink'] }}
- name: storage
  type: storage.jinja
