{% set baseName = 'ert-ssh-' + env['deployment'] %}
{% set targetTag = 'diego-brain' %}
{% set healthCheckName = baseName + '-hc' %}

resources:
- name: {{ baseName }}
  type: compute.v1.firewall
  properties:
    network: {{ properties['networkSelfLink'] }}
    allowed:
      - IPProtocol: tcp
        ports:
          - 2222
    targetTags:
      - {{ targetTag }}

- name: {{ baseName }}-ssh-addr
  type: compute.v1.address
  properties:
    name: {{ baseName }}-ssh-addr
    region: {{ properties['region'] }}

- name: {{ baseName }}-target-pool
  type: compute.v1.targetPool
  properties:
    region: {{ properties['region'] }}

- name: {{ baseName }}-fwd
  type: compute.v1.forwardingRule
  properties:
    region: {{ properties['region'] }}
    target: $(ref.{{ baseName }}-target-pool.selfLink)
    portRange: 2222
    IPProtocol: TCP
    IPAddress: $(ref.{{ baseName }}-ssh-addr.address)

outputs:
- name: targetPoolName
  value: $(ref.{{ baseName }}-target-pool.name)
- name: loadBalancerIP
  value: $(ref.{{ baseName }}-ssh-addr.address)
- name: targetTag
  value: {{ targetTag }}
