{% set baseName = 'ert-' + env['deployment'] %}

resources:
- name: {{ baseName }}-buildpacks
  type: storage.v1.bucket
- name: {{ baseName }}-droplets
  type: storage.v1.bucket
- name: {{ baseName }}-packages
  type: storage.v1.bucket
- name: {{ baseName }}-resources
  type: storage.v1.bucket

outputs:
- name: buildpacksBucket
  value: $(ref.{{ baseName }}-buildpacks.name)
- name: dropletsBucket
  value: $(ref.{{ baseName }}-droplets.name)
- name: packagesBucket
  value: $(ref.{{ baseName }}-packages.name)
- name: resourcesBucket
  value: $(ref.{{ baseName }}-resources.name)
