{% set baseName = 'ert-tcp-' + env['deployment'] %}
{% set healthCheckName = baseName + '-hc' %}
{% set addressName = baseName + '-addr' %}
{% set targetPoolName = baseName + '-target-pool' %}
{% set forwardingRuleName = baseName + '-fwd' %}
{% set targetTag = 'cf-tcp' %}

resources:
- name: {{ baseName }}-public
  type: compute.v1.firewall
  properties:
    network: {{ properties['networkSelfLink'] }}
    allowed:
      - IPProtocol: tcp
        ports:
          - {{ properties['portRange'] }}
    targetTags:
      - {{ targetTag }}

- name: {{ addressName }}
  type: compute.v1.address
  properties:
    name: {{ addressName }}
    region: {{ properties['region'] }}

- name: {{ healthCheckName }}
  type: compute.v1.httpHealthCheck
  properties:
    name: {{ healthCheckName }}
    port: 8080
    requestPath: /health
    checkIntervalSec: 5
    timeoutSec: 3
    healthyThreshold: 6
    unhealthyThreshold: 3

- name: {{ targetPoolName }}
  type: compute.v1.targetPool
  properties:
    region: {{ properties['region'] }}
    healthChecks:
    - $(ref.{{ healthCheckName }}.selfLink)

- name: {{ forwardingRuleName }}
  type: compute.v1.forwardingRule
  properties:
    region: {{ properties['region'] }}
    target: $(ref.{{ targetPoolName }}.selfLink)
    portRange: {{ properties['portRange'] }}
    IPProtocol: TCP
    IPAddress: $(ref.{{ addressName }}.address)

outputs:
- name: targetPoolName
  value: $(ref.{{ targetPoolName }}.name)
- name: loadBalancerIP
  value: $(ref.{{ addressName }}.address)
- name: targetTag
  value: {{ targetTag }}
- name: portRange
  value: $(ref.{{ forwardingRuleName }}.portRange)
